@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/********************************************************* html elements styling ********************************************************/

body{
    font-family: 'Poppins', sans-serif;
    background: #ccc;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

/****************************************************************************************************************************************/





/************************************************************ utility classes ***********************************************************/

.container{
    max-width: 1800px;
    width: 95%;
    margin: 0 auto;
}

/****************************************************************************************************************************************/





/************************************************************* header styling ***********************************************************/

header{
    margin-top: 4vh;
}

header ul a{
    color: #333;
    font-size: 2.2rem;
    text-transform: uppercase;
    display: block;
    padding: 0.5em 0;
}

header nav .nav-items{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 3vw;
}

header nav .nav-item{
    background: #ddd;
    text-align: center;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}


header section.header-content{
    display: grid;
    grid-template-areas: "left-content left-content right-content right-content"
                         "left-content left-content right-content right-content";
    margin-top: 30px;
}


header section.header-content .left-content{
    grid-area: left-content;
}

header section.header-content .right-content{
    grid-area: right-content;
}

header section.header-content .rignt-down-content{
    grid-area: rignt-down-content;
}

header section.header-content .rignt-up-content{
    grid-area: rignt-up-content;
}


header section.header-content .left-content{
    height: 70vh;
    position: relative;
}

header section.header-content .left-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header section.header-content .left-content .left-content-content{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%,-50%);
}

header section.header-content .left-content .left-content-content h1{
    font-size: 6rem;
    color: #fff;
}

header section.header-content .left-content .left-content-content p{
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;
}

header section.header-content .left-content .left-content-content .header-left-btn{
    background: #333;
    display: inline;
    padding: 0.4em 0.6em;
    font-size: 2rem;
}

header section.header-content .left-content .left-content-content .header-left-btn a{
    color: #fff;
}


header section.header-content .right-content{
    text-align: center;
    margin-left: 40px;
}

header section.header-content .right-content .rignt-up-content , header section.header-content .right-content .rignt-down-content{
    padding-bottom: 20px;
    background: #ddd;
    width: 100%;
    height: 48%;
}

header section.header-content .r-c-c{
    padding-top: 50%;
    transform: translateY(-20%);
}

header section.header-content .right-content .rignt-up-content{
    margin-bottom: 30px;
}

header section.header-content .right-content .membership{
    font-size: 2rem;
    color: #333;
}

header section.header-content .right-content .price{
    font-size: 2.6rem;
    color: #333;
    margin-bottom: 20px;
}

header section.header-content .right-content .rignt-content-btn{
    background: #333;
    display: inline;
    padding: 0.4em 0.6em;
    font-size: 2rem;
}

header section.header-content .right-content .rignt-content-btn a{
    color: #fff;
}

/****************************************************************************************************************************************/





/*************************************************************  styling ***********************************************************/

section.boxes{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}


section.boxes .box{
    background: #ddd;
    text-align: center;
    padding: 20px 25px;
}

section.boxes .box h1{
    font-size: 2rem;
    margin-bottom: 20px;
}

section.boxes .box p{
    font-size: 1.4rem;
}

/****************************************************************************************************************************************/
